<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.penguin.spring.test.booking.repository.BookingRepository">
 
 	<select id="selectBookingList"
 	resultType="com.penguin.spring.test.booking.domain.Booking">
 	
 		SELECT
 			`id`
 			, `name`
 			, `headcount`
 			, `day`
 			, `date`
 			, `phonenumber`
 			, `state`
 			, `createdAT`
 			, `updatedAT`
 		FROM	
 			`booking`
 		ORDER BY
 			`id` DESC	
 	
 	</select>
 
 
 
 
 
 
 
 
 
 	<!-- 삭제 기능 -->
  	<delete id="deleteBooking" parameterType="int">
	 	DELETE FROM 
	 		`booking` 
	 	WHERE 
	 		`id` = #{id}
 	</delete>
 
 
 
 
 
 
 
 
 
 
 
 
 
 	<insert id="insertBooking" parameterType="map" >
 		INSERT INTO
 			`booking`
	 			(
		 			 `name`
		 			, `headcount`
		 			, `day`
		 			, `date`
		 			, `phonenumber`
		 			, `state`
	 			)
 		VALUE
 		(
 			#{name}
 			, #{headcount}
 			, #{day}
 			, #{date}
 			, #{phonenumber}
 			, #{state}
 			
 		)	
 	
 	
 	</insert>
 
 
 
 	<select id="selectBooking" parameterType="map"
 	resultType="com.penguin.spring.test.booking.domain.Booking">
 	
 	 	SELECT
 			`id`
 			, `name`
 			, `headcount`
 			, `day`
 			, `date`
 			, `phonenumber`
 			, `state`
 			, `createdAT`
 			, `updatedAT`
 		FROM	
 			`booking`
 		WHERE
 			`name` = #{name}
 			 AND `phonenumber` = #{phonenumber}
 	
 	
 	
 	
 	
 	
 	
 	
 	</select>
 
 
 
 
 </mapper>
