<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.penguin.spring.test.estate.repository.EstateRepository">
 	<!-- 메소드 연걸  -->
 	<select id ="selectEstate" 
 	resultType="com.penguin.spring.test.estate.domain.Estate">
 		SELECT
 			`id`
 			,`realtorId`
 			,`address`
 			,`area`
 			,`type`
 			,`price`
 			,`rentPrice`
 			,`createdAt`
 			,`updatedAt`
 		FROM
 			`real_estate`
 		WHERE
 			`id` = 	#{id}
 	</select>
											<!-- int  -->
	<select id ="selectEstateType" parameterType="int"
 	resultType="com.penguin.spring.test.estate.domain.Estate">
 		SELECT
 			`id`
 			,`realtorId`
 			,`address`
 			,`area`
 			,`type`
 			,`price`
 			,`rentPrice`
 			,`createdAt`
 			,`updatedAt`
 		FROM
 			`real_estate`
 		WHERE
			`type` = '월세'
			AND  <![CDATA[ `rentPrice` < #{rentPrice} ]]>

 			
 	</select> 	
 	
 	<select id ="selectEstateAreaPrice" 
 	resultType="com.penguin.spring.test.estate.domain.Estate">
 		SELECT
 			`id`
 			,`realtorId`
 			,`address`
 			,`area`
 			,`type`
 			,`price`
 			,`rentPrice`
 			,`createdAt`
 			,`updatedAt`
 		FROM
 			`real_estate`
 		WHERE
			<!-- <![CDATA[ `price` <= #{price} ]]>  -->
			 
			<![CDATA[ `area` >= #{area} ]]>
			AND  `type` = #{type}

 			
 	</select> 	
 
 </mapper>