<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.penguin.spring.test.estate.repository.EstateRepository">
 	<!-- 메소드 연걸  -->
 	<select id ="selectEstate" 
 	resultType="com.penguin.spring.test.estate.domain.Estate">
 		SELECT
 			`id`
 			,`realtorId`
 			,`address`
 			,`area`
 			,`type`
 			,`price`
 			,`rentPrice`
 			,`createdAt`
 			,`updatedAt`
 		FROM
 			`real_estate`
 		WHERE
 			`id` = 	#{id}
 	</select>
											<!-- int  -->
	<select id ="selectEstateType" parameterType="int"
 	resultType="com.penguin.spring.test.estate.domain.Estate">
 		SELECT
 			`id`
 			,`realtorId`
 			,`address`
 			,`area`
 			,`type`
 			,`price`
 			,`rentPrice`
 			,`createdAt`
 			,`updatedAt`
 		FROM
 			`real_estate`
 		WHERE
			`type` = '월세'
			AND  <![CDATA[ `rentPrice` < #{rentPrice} ]]>

 			
 	</select> 	
 											<!-- 여러개면 맵으로 (조건) -->
 	<select id ="selectEstateAreaPrice"  parameterType="map"
 	resultType="com.penguin.spring.test.estate.domain.Estate">
 		SELECT
 			`id`
 			,`realtorId`
 			,`address`
 			,`area`
 			,`type`
 			,`price`
 			,`rentPrice`
 			,`createdAt`
 			,`updatedAt`
 		FROM
 			`real_estate`
 		WHERE
			<!-- <![CDATA[ `price` <= #{price} ]]>  -->
			 
			<![CDATA[ `area` >= #{area} ]]>
			AND  `type` = #{type}

 			
 	</select> 	
 
 	<insert id="InsertEstate1" 
 	parameterType="com.penguin.spring.test.estate.domain.Estate">
 		INSERT INTO
 				`real_estate`
 			(
 				`realtorId`
 				, `address`
 				, `area`
 				, `type`
 				, `price`
 			)
 			VALUE
 			(
 				#{realtorId}
 				, #{address}
 				, #{area}
 				, #{type}
 				, #{price}
 			)
 			
 	
 	</insert>
 
  	<insert id="InsertEstate2" 
 	parameterType="map">
 		INSERT INTO
 				`real_estate`
 			(
 				`realtorId`
 				, `address`
 				, `area`
 				, `type`
 				, `price`
 				, `rentPrice`
 			)
 			VALUE
 			(
 				#{realtorId}
 				, #{address}
 				, #{area}
 				, #{type}
 				, #{price}
 				, #{rentPrice}
 			)
 			
 	
 	</insert>
 	
 	
 	<update id="updateEstate" parameterType="map">
    UPDATE `real_estate`
    SET
        `Estate` = #{Estate}
    WHERE
        `id` = #{id}
        `type` = #{type}
        `price` = #{price}
	</update>
 
 </mapper>