<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.penguin.spring.test.weather.Repository.WeatherRepository">
 	
 	
 	<select id="selectWeatherHistory" resultType="com.penguin.spring.test.weather.domain.Weather">
 		SELECT 
 			`id`
 			, `date`
 			, `weather`
 			, `temperatures`
 			, `precipitation`
 			, `microDust`
 			, `windSpeed`
 			, `createdAT`
 			, `updatedAT`
 		FROM
 			`weatherhistory`
 
 
 		</select>
 
 
 

 
  <insert id="insertWeather" parameterType= "map">
  		INSERT INTO 
  		`weatherhistory`
	  	(
 			 `date`
 			, `weather`
 			, `temperatures`
 			, `precipitation`
 			, `microDust`
 			, `windSpeed`

	  	)
		VALUE
		(
			#{date}
			, #{weather}
			, #{temperatures}
			, #{precipitation}
			, #{microDust}
			, #{windSpeed}
		)  
  
  </insert>
 
 
 
 <insert id="insertWeatherByObject" parameterType= "com.penguin.spring.test.weather.domain.Weather">
   		INSERT INTO 
  		`weatherhistory`
	  	(
 			 `date`
 			, `weather`
 			, `temperatures`
 			, `precipitation`
 			, `microDust`
 			, `windSpeed`

	  	)
	  	VALUE
		(
			#{date}
			, #{weather}
			, #{temperatures}
			, #{precipitation}
			, #{microDust}
			, #{windSpeed}
		)  
 
 </insert>
 
 
 
 
 
 
 
 </mapper>