@charset "UTF-8";

#wrap {
    width:1200px;
}

header > .logo {
    height:100px;
}

header > .search {
    height:100px;
}

header > .user {
    height:100px;
}

.menu-item:hover {
    background-color:#eeeeee;
}

.contents > .main-contents {
    background-color: #eeeeee;
}

.main-contents > .video {
    margin-top:30px;
    width:300px;
}

footer {
    height:100px;
}